<template>
  <footer class="footer mt-auto py-2 fixed-bottom">
    <div class="container text-center">
        <div>Copyright &copy; Your Website {{year}}</div>
    </div>
  </footer>
</template>

<script setup>
    const year = new Date().getFullYear();
</script>

<style scoped>
.footer {
    background-color: darkgray;
}
</style>