<template>
  <nav class="navbar navbar-expand-lg">
    <button
      title="switcher"
      class="navbar-toggler"
      v-on:click="switcher = !switcher"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" v-bind:class="{ show: switcher }">
      <ul class="navbar-nav" v-for="item in menuItems" v-bind:key="item.id">
        <li class="nav-item active">
            <RouterLink class="nav-link" :to="item.link">{{ item.name }}</RouterLink>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script setup>
import { ref } from "vue";
import { RouterLink } from "vue-router";

const switcher = ref(false);
const menuItems = [
  { id: 1, name: "Home", link: "/" },
  { id: 2, name: "About", link: "/about" },
];
</script>

<style scoped>
.navbar {
    background-color: darkgray;
}
</style>