<template>
  <HeaderComponent />
  <RouterView />
  <FooterComponent />
</template>

<script setup>
  import { RouterView } from 'vue-router'
  import HeaderComponent from './components/header-component.vue';
  import FooterComponent from './components/footer-component.vue';
</script>